<!DOCTYPE html>
<html ng-app="syn-reg">

<head>
  <title>Synorme Device Control Panel</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="../bower_components/angular-material/themes/cyan-theme.css" />
  <link rel="stylesheet" href="../bower_components/icomoon/dist/css/style.css" />
  <link rel="stylesheet" href="skins/css/theme.css" />
  <script src="../bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-animate/angular-animate.js"></script>
  <script src="../bower_components/angular-aria/angular-aria.js"></script>
  <script src="../bower_components/hammerjs/hammer.js"></script>
  <script src="../bower_components/angular-material/angular-material.js"></script>
  <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
</head>

<body>
  <div id="loading-wrap">
    <div class="content">
      <div class="outer-circle"></div>
      <div class="inner-circle"></div>
      <div class="brand">
        <img src="skins/images/brand.png">
      </div>
    </div>
  </div>
  <div id="wrapper" ng-cloak>
    <header class="navbar navbar-default" ng-controller="headerCtrl">
      <div class="container-fluid">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right">
            <li ng-click="toggleKeyShown()" class="dropdown">
              <a href="#"> <i class="icon icon-keyboard"></i>
              </a>
              <ul class="dropdown-menu show" ng-show="isKeyShown" style="min-width:200px;max-height:450px;">
                <li>
                  <a href="###">
                    CTRL+S<span style="inline-block" class="pull-right">制卡</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    TAB<span style="inline-block" class="pull-right">下一栏</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    SHIFT+TAB<span style="inline-block" class="pull-right">上一栏</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    CTRL+编号<span style="inline-block" class="pull-right">基础栏跳转</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    ALT+编号<span style="inline-block" class="pull-right">问卷栏跳转</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    F1<span style="inline-block" class="pull-right">写卡</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    F2<span style="inline-block" class="pull-right">读卡</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    F3<span style="inline-block" class="pull-right">打印胸卡</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    F4<span style="inline-block" class="pull-right">打印导览图</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    F9<span style="inline-block" class="pull-right">清空输入项</span>
                  </a>
                </li>
                <li>
                  <a href="###">
                    F12<span style="inline-block" class="pull-right">开/关帮助</span>
                  </a>
                </li>
              </ul>
            </li>
            <li ng-click="minimize()">
              <a href="#"> <i class="icon icon-minus"></i>
              </a>
            </li>
            <li ng-click="toggleMaximize()">
              <a href="#">
                <i class="icon" ng-class="isKiosk?'icon-contract-2':'icon-expand-2'"></i>
              </a>
            </li>
            <li ng-click="close()">
              <a href="#">
                <i class="icon icon-close"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section id="main" ng-controller="mainCtrl">
      <div id="side">
        <div class="brand-wrap">
          <div class="brand">
            <img src="skins/images/logo.png">
          </div>
        </div>
        <ul>
          <li ng-class="{active:$parent.activePanel=='wPanel'}" ng-click="$parent.activePanel='wPanel'">
            <a href="#">写机器通讯</a>
          </li>
          <li ng-class="{active:$parent.activePanel=='rPanel'}" ng-click="$parent.activePanel='rPanel'">
            <a href="#">读机器通讯</a>
          </li>
          <li ng-class="{active:$parent.activePanel=='sPanel'}" ng-click="$parent.activePanel='sPanel'">
            <a href="#">设置</a>
          </li>
          <li id="cPanel" ng-controller="cPanelCtrl">
            <a href="#">
              <i class="icon-copy-2"></i> 消息记录
            </a>
            <ul ng-nicescroll="{cursorcolor:'#aaa',cursorborder:'1px solid #1a1c20'}">
              <li ng-repeat="item in info">
                {{item.date|date:'yyyy-MM-dd HH:mm'}}
                <br> {{item.msg}}
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div id="center">
        <div class="control-panel" id="wPanel" ng-show="$parent.activePanel=='wPanel'" ng-controller="wPanelCtrl">
          <div class="content">
            <div class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="searchInput">
              </div>
              <button type="submit" class="btn btn-primary">索引</button>
              <button type="submit" class="btn btn-primary">网络</button>
              <button type="submit" class="btn btn-primary" title="只支持本地数据库" ng-click="fuzzySearch()">模糊</button>
            </div>
            <form class="form-horizontal">
              <div class="form-group" id="basic-info">
                <h2><small>基础信息：</small></h2>
                <script type="text/ng-template" id="nameTpl.html">
                  <a tabindex="-1">
                    <span bind-html-unsafe="match.model.sur| typeaheadHighlight:query"></span>
                    <em>&nbsp;{{match.model.co}}
                      <span class="text-success" ng-if="match.model.reg_time">&nbsp;已登记</span>
                      <span class="text-danger" ng-if="!match.model.reg_time">&nbsp;未登记</span>
                    </em>
                  </a>
                </script>
                <div class="col-sm-4 input-wrap" ng-repeat="item in input" ng-if="item.visible">
                  <div class="row">
                    <label class="col-sm-3 control-label">{{item.display}}</label>
                    <div class="col-sm-8" ng-switch on="item.key">
                      <input class="form-control" ng-model="info.sur" ng-switch-when="sur" typeahead="c as c.sur for c in getNameSearch($viewValue)" typeahead-template-url="nameTpl.html" typeahead-on-select="getName($item)" typeahead-wait-ms="300">
                      <input class="form-control" ng-model="info.co" ng-switch-when="co" typeahead="c for c in getCompanySearch($viewValue) | limitTo:10" typeahead-wait-ms="300">
                      <input class="form-control" ng-model="info.cy" ng-switch-when="cy" typeahead="c for c in states | filter:$viewValue | limitTo:10" typeahead-wait-ms="300" typeahead-min-length="3">
                      <input class="form-control" ng-model="info.id" ng-switch-when='id' ng-change="getIdSearch(info.id)">
                      <input class="form-control" ng-model="info[item.key]" ng-switch-default>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group" id="qn-info">
                <h2><small>问卷信息：</small></h2>
                <div class="col-sm-4 input-wrap" ng-repeat="item in info.qn track by $index">
                  <div class="row">
                    <label class="col-sm-3 control-label">问题{{$index+1}}</label>
                    <div class="col-sm-8">
                      <input class="form-control" ng-model="info.qn[$index]">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <h2><small>权限设置：</small></h2>
                <md-checkbox md-no-ink ng-model="info.auth[$index]" aria-label="auth" ng-repeat="item in authInput" class="md-primary" ng-true-value="'{{item.value}}'" ng-false-value="'00000000'">
                  {{ item.display }}
                </md-checkbox>
              </div>
              <div class="form-group">
                <h2><small>登记情况：</small></h2>
                <div class="col-sm-4 input-wrap">
                  <div class="row">
                    <label class="col-sm-3 control-label">登记时间</label>
                    <div class="col-sm-8">
                      <input class="form-control" date-format ng-model="info.reg_time" disabled="true">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <h2><small>打印设置：</small></h2>
                <label class="col-sm-2 control-label">胸牌类型：</label>
                <div class="col-sm-8">
                  <label class="radio-inline" ng-repeat="item in reg_type.kind">
                    <input type="radio" ng-model="reg_type.value" ng-value="$index"> {{item.display}}
                  </label>
                </div>
              </div>
            </form>
          </div>
          <footer layout>
            <section class="funcbar" layout="vertical" layout-sm="horizontal" layout-align="center center">
              <md-button class="md-raised" ng-click="make();$event.stopPropagation();">制卡</md-button>
              <md-button class="md-raised" ng-click="spWrite();$event.stopPropagation();">写卡</md-button>
              <md-button class="md-raised" ng-click="spRead();$event.stopPropagation();">读卡</md-button>
              <md-button class="md-raised" ng-click="printBadge();$event.stopPropagation();">打印胸卡</md-button>
              <md-button class="md-raised" ng-click="printGuide();$event.stopPropagation();">打印导览图</md-button>
            </section>
            <section class="toolbar pull-right" layout="vertical" layout-sm="horizontal" layout-align="center center">
              <md-button class="md-fab" ng-click="countLogs()" aria-label="countLogs" tooltip="统计">
                <i class="icon icon-stats"></i>
              </md-button>
              <md-button class="md-fab" ng-click="startWorldCard()" aria-label="startWorldCard" tooltip="启动名片识别">
                <i class="icon icon-newspaper"></i>
              </md-button>
              <md-button class="md-fab" ng-click="modifySetting()" aria-label="settings" tooltip="设置输入项">
                <i class="icon icon-cog"></i>
              </md-button>
              <md-button class="md-fab" ng-click="clearAll()" aria-label="clearAll" tooltip="清空输入项">
                <i class="icon icon-spinner-6"></i>
              </md-button>
            </section>
          </footer>
        </div>
        <div class="control-panel" id="rPanel" ng-if="$parent.activePanel=='rPanel'" ng-controller="rPanelCtrl">
          <div class="content">
            <div class="form-inline">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="keyWord">
              </div>
              <button type="submit" class="btn btn-primary" ng-click="indexSearch()">搜索</button>
              <button type="submit" class="btn btn-primary" ng-click="prevSearch()">前一个</button>
              <button type="submit" class="btn btn-primary" ng-click="nextSearch()">后一个</button>
            </div>
            <form class="form-horizontal">
              <div class="form-group">
                <h2><small>展商信息：</small></h2>
                <div class="col-sm-4 input-wrap" ng-repeat="item in input">
                  <div class="row">
                    <label class="col-sm-3 control-label">{{item.display}}</label>
                    <div class="col-sm-8">
                      <input class="form-control" ng-model="info[item.key]">
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <h2><small>展会信息：</small></h2>
                <div class="col-sm-4 input-wrap" ng-repeat="(key,val) in expoInfo">
                  <div class="row">
                    <label class="col-sm-3 control-label">{{key}}</label>
                    <div class="col-sm-8">
                      <input class="form-control" ng-model="expoInfo[key]" disabled>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <footer layout>
            <section class="funcbar" layout="vertical" layout-sm="horizontal" layout-align="center center">
              <md-button class="md-raised" ng-click="spImport()">导入</md-button>
              <md-button class="md-raised" ng-click="spExport()">导出</md-button>
            </section>
            <section class="toolbar pull-right" layout="vertical" layout-sm="horizontal" layout-align="center center">
              <md-button class="md-fab" ng-click="clearAll()" aria-label="clearAll" tooltip="清空输入项">
                <i class="icon icon-spinner-6"></i>
              </md-button>
            </section>
          </footer>
        </div>
        <div class="control-panel" id="sPanel" ng-show="$parent.activePanel=='sPanel'" ng-controller="sPanelCtrl">
          <div class="content">
            <div class="tab-container" ng-init="active=0">
              <ul class="nav nav-tabs">
                <li ng-class="{active:active==0}" ng-click="active=0">
                  <a href="#">连接设置</a>
                </li>
                <li ng-class="{active:active==1}" ng-click="active=1">
                  <a href="#">展会设置</a>
                </li>
                <li ng-class="{active:active==2}" ng-click="active=2">
                  <a href="#">初始化设置</a>
                </li>
                <li ng-class="{active:active==3}" ng-click="active=3">
                  <a href="#">高级</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane" ng-class="{active:active==0}">
                  <div id="connect-settings" ng-controller="connectSettingsCtrl" class="form-horizontal" ng-include src="'views/connectSettings.html'">
                  </div>
                </div>
                <div class="tab-pane" ng-class="{active:active==1}">
                  <div id="expo-settings" ng-controller="expoSettingsCtrl" class="form-horizontal" ng-include src="'views/expoSettings.html'"></div>
                </div>
                <div class="tab-pane" ng-class="{active:active==2}">
                  <div id="index-settings" ng-controller="indexSettingsCtrl" class="form-horizontal" ng-include src="'views/indexSettings.html'">
                  </div>
                </div>
                <div class="tab-pane" ng-class="{active:active==3}">
                  <div id="extra-settings" ng-controller="extraSettingsCtrl" class="form-horizontal" ng-include src="'views/extraSettings.html'">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!--main-->
  <script type="text/javascript" src="scripts/main.js" charset="utf-8"></script>
  <!--controllers-->
  <script type="text/javascript" src="scripts/controllers/writer.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/controllers/reader.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/controllers/setting.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/controllers/console.js" charset="utf-8"></script>
  <!--services-->
  <script type="text/javascript" src="scripts/services/write.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services/read.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services/format.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services/import.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services/export.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services/basic.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services/advanced.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services/tools.js" charset="utf-8"></script>
  <script type="text/javascript" src="scripts/services/db.js" charset="utf-8"></script>
  <!--directives-->
  <script type="text/javascript" src="scripts/directives/directives.js" charset="utf-8"></script>
</body>

</html>
